.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.form {
  margin-top: 100px;
  padding: 30px;
  outline: 1px solid #61dafb;
}

/* .lb1 {
  outline: 1px solid salmon;
} */

.sp1 {
  text-align: start;
  /* outline: 1px solid lime; */
}

/* .country{
  outline: 1px solid lime;

} */
.select-country{
  font-size: 1.2rem;
}

.select-date{
  font-size: 1.2rem;
  padding-left: 15px;
  /* outline: 1px solid salmon; */
}


.countdown-timer-container{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-timer {
  width: 600px;
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-timer span {
  margin-left: 5px;
  margin-right: 5px;
}

.two-numbers {
  width: 2ch;
  margin-right: 200px;
}

.timer-text {
  color: #61dafb;
}